 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
:root{
    --primary-color : #006241;
    --secondary-color:#d50032;
    --extra-color:#d4e9e2;
}
*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body
{   
    font-family:'Open Sans',sans-serif;
    line-height: 1.2;
    color: #000;
}

a
{
    color: #000;
}

ul
{
    list-style: none;
}

p
{
    margin: 5px 0;
    line-height: 1.7;
}

img
{
    max-width: 100%;
}
/*nav bar*/ 
.navbar
{
width: 100%;
height: auto;
background-color: #fff;
padding: 20px;
box-shadow: 0 1px 3px rgb(0 0 0 /10%),0 2px 2px rgb(0 0 0 /6%),0 0 2px rgb( 0 0 0/7%)
                       
}
.nav-container
{                      /* container*/
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.navbar ul 
{                          /* ul items <(navbar)p */
    display: flex;
    align-items: center;

} 
.navbar li
 {                         /*li items c< (ul)p < (navbar)p */
   margin:0 20px ;
   font-weight: bold;
}
.navbar a
{                           /* a is child of <(navbar)p*/
  color: #000;
  text-decoration: none;
}

.navbar a:hover
{                             /* nav tex color chnge (HOVER)*/ 
    color: var(--primary-color);

}

.nav-brands img{                 /* img < navbar*/
    width:70px ;
    height:70px ;

}
.nav-left {                 /*nav left < navbar*/
    text-transform: uppercase;
    flex: 1;
    margin-left: 20px;
}

.nav-right li:first-child a{            
    display: flex;
    align-items: center;

}

.nav-right img{               /*nav right < navbar*/
     height: 41px;
     width: 39px ;
     margin-right:12px ;
    
}
.nav-right li:nth-child(2)
{

margin: 0 5px;
}
  /*button */

 .button
 { 
    cursor: pointer;
    display: inline-block;
    background: none;
    border: 1px #000 solid;
    border-radius: 50px;
    padding: 7px 16px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
 } 

 .button-blckoutline    /*button white*/
 {   
    font-weight: 600;
    line-height: 17px;    
    font-size :14px; 
    font-style: normal;
    font-family:'Open Sans',sans-serif;
    border-color: #1e3932;
    color: #1e3932;
    
 }

 .button-blckoutline:hover
 {
    background-color:rgba(0,0,0,0.06);
    color: #000;
 }
 
 .button-blck       /*button black*/
 {  font-weight: 600px;
    line-height: 17px;    
    font-size :14px; 
    font-style: normal;
    font-family: 'Open Sans',sans-serif;
    background-color: #000;
    color: #fff;
 }

 .button-blck:hover
 {           
    background-color:rgb(50, 47, 47);
 }

 /*box*/
 .main-com
 {                      /*common with*/
    margin-top: 30px;
 }

 .main
 {  
    width: 100%;         /*main div  A*/
    height: 100px;
    padding: 5px 0;  
 }

 .first,.second
 {
    display: flex;
 }

 .third,.fourth
 {
    display: flex;
 }


 img
 {
    width: 100%;      /*image*/
    height: 100%;
 }
                 
          /* product A strat*/

.body-button-A
{   width: 110px;
    border:1.7px solid #1e3932;
    color:#1e3932;
    background-color:rgb(213,232,226) ;
    height: 38px;
    border-radius: 50px; 
    margin-top: 17px;
    font-weight: bold;
    font-size: 17px;
}

.body-button-A:hover
{
    cursor: pointer;
    background-color:rgb(198, 220, 213) ;
}

 .product-A-left
 {
    width: 50%;
    height: 268px;
 }

.product-A-right             
{   
    padding-top:20px ;
    text-align: center;
    width: 50%;
    background-color:#d4e9e2;
    height: 268px;
}

.product-A-heading
{  margin-top: 12px;
   font-weight: 750px;
   line-height: 36px;
   color:#1e3932;
   font-style: normal;
}

.content-A
{    margin-bottom: 17px;
     padding-top:25px ;
     font-size: 19px;
     font-weight: 400;
     color: #1e3932;
     font-style: normal;
}
                     /*prduct A END */
     
                     /*prduct B start*/
.product-B-left 
{   background-color: #f6bfd9;   /* B left*/
    width: 50%;
    height: 588px;
    text-align: center;
    color:#1e3932;                                                                                                                                                          

}
  /* B RIGHT */
.product-B-right            
{ 
    width: 50%;
    height: 588px;
}

.product-B-heading
{  letter-spacing: 2px;
   font-size: 49px;
   margin-top:140px;
   font-weight: 500px;
   color:#1e3932;
   font-style: normal;
   margin-bottom: 30px;
}

.content-B
{    margin-bottom: 12px;
     font-size: 24px;
     font-weight:560;
     color: #1e3932;
     font-style: normal;
}

  /* BUTTON B START */

.body-button-B                      
{   margin-top: 30px;
    width: 120px;
    border:1.7px solid #1e3932;
    color:#1e3932;
    background-color:rgb(246,191,217);
    height: 36px;
    border-radius: 50px; 
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.2px;
    
} 

.body-button-B:hover
{     
      background-color: rgb(227, 189, 203);
      cursor: pointer;
}

  /* BUTTON B END  */

/* C START */

.product-C-left    
 { 
    width: 50%;
    height: 575px;
}

/* BUTTON C START*/
  .body-button-C                     
  {   margin-top: 30px;
      width: 120px;
      border:1.7px solid #1e3932;
      color:#1e3932;
      background-color:rgb(254,244,213);
      height: 36px;
      border-radius: 50px; 
      font-weight: bold;
      font-size: 16px;
      letter-spacing: 0.2px;
      
  } 
  
  .body-button-C:hover
  {     
        background-color: rgb(234, 227, 206);
        cursor: pointer;
  }
     /*BUTTON C END*/


.product-C-right            /* C right*/
{   text-align: center;
    color: #1e3932;
    background-color: rgb(255,245,213);
    width: 50%;
    height: 575px;
}

.product-C-heading
{  
   letter-spacing: 2px;
   font-size: 49px;
   margin-top:140px;
   font-weight: 500px;
   color:#1e3932;
   font-style: normal;
   margin-bottom: 30px;
}

.content-C
{   
     margin-bottom: 12px;
     font-size: 24px;
     font-weight:560;
     color: #1e3932;
     font-style: normal;
}

    /* C END */

   /* D START*/
.product-D-left 
{   text-align: center;
    background-color: #d4e9e2;
    width: 50%;
    height: 575px;

}
    /* D BUTTON START */
.body-button-D                            
{ 
    margin-top: 30px;
    width: 120px;
    border:1.7px solid #1e3932;
    color:#1e3932;
    background-color:rgb(213,232,226);
    height: 36px;
    border-radius: 50px; 
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.2px;
    
    
} 

.body-button-D:hover
{     
      background-color: rgb(194, 214, 207);
      cursor: pointer;
}
   /* D BUTTON END */

.product-D-heading
{  
   letter-spacing: 2px;
   font-size: 49px;
   margin-top:100px;
   font-weight: 650;
   color:#1e3932;
   font-style: normal;
   margin-bottom: 15px;
}

.content-D
{    
     margin-bottom:5px ;
     margin-top:5px;
     font-size: 24px;
     font-weight:570;
     color: #1e3932;
     font-style: normal;
}

/*D RIGHT */
 .product-D-right      
{ 

    background-color: #d4e9e2;
    width:50%;
    height: 575px;

}

/* D END */

/* LINK START */

.section-1
{ 
  background-color:#fff ;
  text-align: center;
  width: 100%;
  height: 240px;
  box-shadow:  0 1px 3px rgb(0 0 0 /10%),0 2px 2px rgb(0 0 0 /6%),0 0 2px rgb( 0 0 0/7%);

}
.title-main
{  
   height: 220px;

}

.title-link
{  
   font-style: normal; 
   font-size: 14px; 
   padding-top: 80px;
   margin: 0 100px;
   padding-bottom: 90px;
   font-weight: 600;
}
.title-end
{   padding-bottom: 20px;
    margin: 0 100px; 
    font-style: normal;
    font-weight: 600;
    font-size: 14px;

}
  /* LINK END */

  /*footer 2*/

.section-2
{      
       background-color: #fff;
       display: flex;
       justify-content: space-between;
       width:100% ;
       height:450px ;
       margin: 30px 0;
       padding: 10px 30px 10px 30px;
       box-shadow:  0 1px 3px rgb(0 0 0 /10%),0 2px 2px rgb(0 0 0 /6%),0 0 2px rgb( 0 0 0/7%);
         
}
.footer-list
{
   
   padding-top: 5px;
}

.footer-list:last-child
{
     padding-right: 190px;
}

.section-2 ul li 
{ 
  list-style-type: none;
  padding-bottom:30px ;
  color: rgb(121,107,121);
  font-size: 15px;
  line-height: 19px;
  

}
.section-2 p
{   padding-top: 12px;
    padding-bottom: 30px;
    color: rgb(7, 24, 44);
    line-height: 29px;
    font-style: normal;
    font-size: 18px;
    font-family:'Open Sans',sans-serif;
    font-weight:520 ;
    
}

.section-3 
 { 
  display: flex;
  justify-content: flex-start;
  background-color:#fff ;
  text-align: center;
  width: 100%;
  height: 70px;
  padding-top: 20px;
  padding-left: 13px;

} 

.section-3 a 
{  padding:10px;
   width: 50px;
   height: 50px;
   font-size: 32px;

} 

.section-4
{
    display: flex;
}

.section-4 li
{   font-size: 15px;  
    font-weight: 570;
    height: 24px;
    padding: 30px 0;
    color:rgb(62,32,55) ;
    list-style-type: none;
}

.section-4 li a
{   padding-left: 20px;
    padding-bottom: 10px;
    text-decoration: none;
}
.section-4 li a:hover
{
    text-decoration: underline;
}
.end-part 
{     
      font-style: normal;
      color:rgb(106,107,120);
       font-size:14px ;
      line-height: 15px;
      font-weight: 45px;
      padding-left: 17px;
      padding-bottom:25px ;
}